.calendar {
    font-size: 14px;
    background-color: $calendar-color-back;

    .calendar-header {
        line-height: 50px;
        font-weight: bold;
        overflow: auto;
        white-space: nowrap;
    }

    .calendar-header li {
        display: inline-block;
        padding: 0 10px;
    }

    .calendar-header li span {
        padding: 7px 12px;
        border-radius: 15px;
        text-transform: uppercase;
    }

    .calendar-header li.active span {
        color: $calendar-navigation-active-color;
        background-color: $calendar-navigation-active-color-back;
    }

    .calendar-body {
        padding: 20px;
        text-align: center;
        overflow: hidden;
        font-weight: bold;
        background: linear-gradient(0, $calendar-body-color-back);
    }

    .calendar-body-header {
        padding-bottom: 10px;
    }

    .calendar-body-header li {
        display: inline-block;
        width: 14.285%;
        color: $calendar-body-header-color;
    }

    .calendar-body-content {
        float: left;
        width: 100%;
    }

    .calendar-day {
        float: left;
        width: 14.285%;
        line-height: 40px;
    }

    .calendar-day span {
        &.current {
            color: $calendar-day-active-color !important;
            background-color: $calendar-day-active-color-back !important;
        }

        &.past {
            color: $calendar-day-past-color;
        }
    }

    .calendar-day span {
        padding: 5px;
        border-radius: 50%;
    }
}