@charset "utf-8";

@import "./globals/normalize";
@import "./globals/variables";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: $color;
    background-color: $color-back;
}

.main-container {
    overflow: hidden;
}

@import "./parts/calendar";
@import "./parts/event-popup";
@import "./parts/events-list";